name: Rust

on:
  push:
    branches:
      # two reserved branches for bors the bot
      - staging
      - trying
  pull_request:
    branches:
      - master
  release:
    types:
      - created

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      RUST_BACKTRACE: 1
    steps:
      - uses: actions/checkout@v2
      - run: cargo check
      - run: cargo check -p ufmt
      - run: cargo check -p ufmt-utils
      - run: cargo test --features std
      - run: cargo test --manifest-path=macros/Cargo.toml

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          rustup component add clippy
          rustup target add \
            x86_64-pc-windows-gnu \
            x86_64-apple-darwin \
            x86_64-pc-windows-msvc
      - run: |
          for target in x86_64-pc-windows-gnu x86_64-apple-darwin x86_64-pc-windows-msvc; do
            echo "== checking $target =="
            cargo check --all-targets --all --target "$target"
            git ls-files '*lib.rs' | xargs touch
            # FIXME: Remove `-- -A clippy::option_as_ref_deref` when MSRV is bumped past 1.40.0
            cargo clippy --all-targets --all --target "$target" \
              -- \
              -A clippy::option_as_ref_deref \
              -A clippy::redundant_field_names
          done
        shell: bash

  # These jobs doesn't actually test anything, but they're only used to tell
  # bors the build completed, as there is no practical way to detect when a
  # workflow is successful listening to webhooks only.
  #
  # ALL THE PREVIOUS JOBS NEED TO BE ADDED TO THE `needs` SECTION OF THIS JOB!
  end-success:
    name: bors build finished
    runs-on: ubuntu-latest
    needs: [build, rustfmt]
    if: github.actor == 'bors[bot]' && success()
    steps:
      - name: mark the job as a success
        run: exit 0
